<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>绚丽的倒计时</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/countDown.css' />
  </head>
  <body>
    <canvas id="canvas" class="canvas">Wo!Your brower is too old to use this cool features,you colud use the latest Chrome browser!</canvas>
    <!-- The example is adapted from http://www.imooc.com/video/2493 -->
  </body>
  <script type="text/javascript" src="/javascripts/toolLibrary.js"></script>
  <script type="text/javascript" src="/javascripts/countDownTimePointsArr.js"></script>
  <script type="text/javascript" src="/javascripts/countDown.js"></script>
</html>
